parametersSchema:
    excludedInterfaces: listOf(string())

parameters:
    excludedInterfaces:
        - DateTimeInterface
        - Stringable
        - Countable
        - Iterator
        - IteratorAggregate
        - ArrayAccess
        - Traversable
        - BackedEnum
        - UnitEnum
        - Throwable
        - JsonSerializable
        - Serializable

services:
    -
        class: PinkWeb\PHPStanPreferInterfacesRule\ConstructorPreferInterfaceRule
        arguments:
            - %excludedInterfaces%
        tags:
            - phpstan.rules.rule
